.verticalanglepicker {
  display: flex;
  flex-direction: column;

  button {
    width: 60px;
    height: 20px;
    border: 0;

    &.selected {
      font-weight: bold;
    }

    &.normal.selected {
      color: #44ee44;
    }

    &.high.selected {
      color: #ee9999;
    }

    &.low.selected {
      color: #88eeee;
    }

    &.takeoff.selected {
      color: #ee6699;
    }

    &.wet.selected {
      color: #88eeee;
    }

    &.tidire.selected {
      color: #88eeee;
    }

    &.maki.selected {
      color: #ee6699;
    }

    &.saga.selected {
      color: #cccc66;
    }

    &.mitsu.selected {
      color: #44ee44;
    }

    &.osage.selected {
      color: #f878f8;
    }
  }
}

.icongrouppicker {
  display: inline-block;
}

.gesturable-image {
  overflow: hidden;
  user-select: none;
}

.tabheader-group {
  display: flex;
  overflow: hidden auto;
  flex-wrap: wrap;
  max-height: 300px;

  .tabheader-tab {
    height: 30px;
    min-width: 72px;
    line-height: 30px;
    padding: 0 16px;
    border: none;
    margin-inline-end: 8px;
    cursor: pointer;
    background: #111111;
    color: #cccccc;

    &.selected {
      background: #666666;
    }

    &.tabheader-new {
      min-width: 40px;
      text-align: center;
    }
  }
}

.tab-contents {
  overflow: auto;
}

.input-with-selection {
  button {
    color: #cccccc;
    font-size: 14px;
    height: 28px;
    padding: 0 16px;
    background: #555555;
    margin: 2px 4px;
    border-radius: 16px;

    &:hover {
      color: #f0f0f0;
      background: #777777;
    }
  }
}

.suggestable-text-input {
  position: relative;

  .suggestion {
    position: absolute;
    width: 100%;
  }
}

.popup__suggestion {
  background: #666666;
  min-width: 100px;
  max-height: 400px;
  overflow: auto;

  & &__item {
    padding: 4px 16px;
    user-select: none;
    cursor: pointer;
    display: block;
    
    &.focused, &:hover {
      background: #3355bb;
      font-weight: bold;
    }
  }
}
