.verticalanglepicker {
  display: flex;
  flex-direction: column;

  button {
    width: 60px;
    height: 20px;
    border: 0;

    &.selected {
      font-weight: bold;
    }

    &.none.selected {
      color: white;
    }

    &.normal.selected {
      color: #44ee44;
    }

    &.high.selected {
      color: #ee9999;
    }

    &.low.selected {
      color: #88eeee;
    }

    &.takeoff.selected {
      color: #ee6699;
    }

    &.wet.selected {
      color: #88eeee;
    }

    &.tidire.selected {
      color: #88eeee;
    }

    &.maki.selected {
      color: #ee6699;
    }

    &.saga.selected {
      color: #cccc66;
    }

    &.mitsu.selected {
      color: #44ee44;
    }

    &.osage.selected {
      color: #f878f8;
    }

    &.left.selected {
      color: #ee6699;
    }

    &.right.selected {
      color: #88eeee;
    }

    &.and.selected {
      color: #ee6699;
    }

    &.unknown.selected {
      color: #88eeee;
    }
  }
}

.icongrouppicker {
  display: inline-block;

  button:hover:not(.enabled) img {
    filter: invert(67%) sepia(12%) saturate(8%) hue-rotate(36deg) brightness(90%) contrast(85%);
  }

  button {
    position: relative;
    cursor: pointer;
  }

  &__title-tip {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    color: #f0ff24;
    pointer-events: none;

    button:hover & {
      display: block;
    }

    .enabled & {
      color: #79ffe2;
    }
  }

  .reverse {
    transform: scaleX(-1);
  }
}

.evaluation-picker {
  cursor: pointer;

  img {
    filter: invert(41%) sepia(38%) saturate(0%) hue-rotate(267deg) brightness(105%) contrast(91%);
    width: 32px;
    height: 32px;

    &.fill {
      filter: invert(84%) sepia(86%) saturate(460%) hue-rotate(360deg) brightness(88%) contrast(98%);
    }
  }

  &:hover img:not(.fill) {
    filter: invert(68%) sepia(20%) saturate(540%) hue-rotate(22deg) brightness(95%) contrast(84%);
  }
}

.gesturable-image {
  overflow: hidden;
  user-select: none;
  flex: 1;

  display: flex;
  flex-direction: column;

  .canvas-wrapper {
    overflow: hidden;
    user-select: none;
    flex: 1;

    .canvas-image-rotation-wrapper {
      transform-origin: 50% 50%;

      .canvas-image {
        transform-origin: top left;

        &.reverse-horizontal {
          transform: scaleX(-1) translateX(-100%);
        }

        &.reverse-vertical {
          transform: scaleY(-1) translateY(-100%);
        }

        &.reverse-horizontal.reverse-vertical {
          transform: scale(-1, -1) translate(-100% -100%);
        }
      }
    }
  }

  .commands-bar {
    background: #404040;
    height: 32px;
  }
}

.tabheader-group {
  display: flex;
  overflow: hidden auto;
  flex-wrap: wrap;
  max-height: 300px;

  .tabheader-tab {
    height: 30px;
    min-width: 72px;
    line-height: 30px;
    padding: 0 16px;
    border: none;
    margin-inline-end: 8px;
    cursor: pointer;
    background: #111111;
    color: #cccccc;

    &.selected {
      background: #666666;
    }

    &.tabheader-new {
      min-width: 40px;
      text-align: center;
    }

    &.element-information {
      background: #5c004c;
      &.selected {
        background: #c22ca9;
      }
    }

    &.element-person {
      background: #003d17;
      &.selected {
        background: #469b67;
      }
    }

    &.element-background {
      background: #050050;
      &.selected {
        background: #6d64ec;
      }
    }
  }
}

.tab-contents {
  overflow: auto;
}

.input-with-selection {
  button {
    color: #cccccc;
    font-size: 14px;
    height: 28px;
    padding: 0 16px;
    background: #555555;
    margin: 2px 4px;
    border-radius: 16px;

    &:hover {
      color: #f0f0f0;
      background: #777777;
    }
  }
}

.suggestable-text-input {
  position: relative;

  textarea.input {
    line-height: 140%;
  }

  .suggestion {
    position: absolute;
    width: 100%;
  }
}

.popup__suggestion {
  background: #060606;
  min-width: 100px;
  max-height: 400px;
  overflow: auto;

  & &__item {
    font-size: 18px;
    padding: 4px 16px 4px 8px;
    user-select: none;
    cursor: pointer;
    display: block;
    
    &.focused, &:hover {
      background: #3355bb;
      font-weight: bold;
    }
  }
}
