body {
  overflow: hidden;
  background: #020202;
}

#app-loading {
  width: 100vw;
  height: 100vh;
  font-size: 24px;
  display: flex;
  align-items: center;

  > div {
    flex: 1;
    text-align: center;
  }
}

#windowframe {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#app {
  display: flex;
  flex: 1;
  height: calc(100vh - 40px);
}

.image-preview-page {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
}

.image-list-page {
  display: flex;

  &__list {
    overflow: hidden auto;
    background: transparent;
    padding: 16px 4px 16px 16px;
    flex: 1;

    &__item {
      position: relative;
      padding: 12px 8px 20px;

      .empty-flag {
        position: absolute;
        bottom: 12px;
        right: 0;
        height: 8px;
        border-color: transparent orange orange transparent;
        border-width: 18px;
        border-style: solid;
      }
    }
  }
}

.config-page {
  height: 100%;
  width: 100%;
  background: #404040;
  display: flex;

  &__categories {
    width: 200px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid gray;

    &__item {
      height: 60px;
      cursor: pointer;
      background: #111111;

      &.selected {
        background: #666666;
      }
    }
  }

  &__contents {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .title {
      padding-inline-start: 16px;
      padding-block: 8px;

      h2 {
        font-weight: bold;
        color: #f0f0f0;
      }
    }

    .contents-container {
      flex: 1;
      overflow: auto;
      margin-block-start: 16px;

      .contents {
        padding-inline: 16px;

        label {
          display: block;
          height: 32px;
          cursor: pointer;
          margin-block: 4px;

          span {
            display: inline-block;
            line-height: 32px;
            margin-inline-start: 8px;
          }
        }
      }
    }
  }
}

#windowheader {
  height: 40px;
  background: #000000;
  color: #dedede;
  display: flex;
  user-select: none;

  &__tabs {
    flex: 1;
    app-region: drag;
    padding: 6px 24px 0;
    display: flex;

    .windowheadertab {
      width: 120px;
      height: 34px;
      background: #404040;
      border-radius: 8px 8px 0 0;
      font-size: 14px;
      line-height: 34px;
      padding: 0 8px;
      color: #cccccc;
      margin-inline-end: 6px;
      cursor: pointer;
      app-region: no-drag;
      display: flex;

      .title {
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
      }

      .close {
        margin-right: -6px;
      }

      &.active {
        background: #606060;
      }
    }
  }

  &__buttons button {
    width: 60px;
    height: 40px;
    color: white;

    &:last-child {
      width: 80px;

      &:hover {
        background: #cc4444;
      }
    }
  }
}

.imagelistview {
  flex: 1;
  overflow: hidden;
}

.pane {
  height: 100%;
  background: #404040;

  h2 {
    font-weight: bold;
    color: #f0f0f0;
    height: 40px;
    padding: 0 8px;
  }
}

.pane-contents {
  width: 20vw;
  min-width: 400px;
  padding: 16px 8px;
  overflow: hidden auto;
  height: calc(100% - 40px);
}

.searchpane,
.editpane {
  &__row {
    display: flex;
  }

  .searchpane__row button {
    color: #888888;
    font-size: 12px;
  }
}

.editpane .pane-contents {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
  min-width: 420px;

  .tabheader-group {
    margin: 0 8px;
  }

  .tab-contents {
    overflow: auto;
    flex: 1;
    padding-block-start: 16px;
    padding: 0 8px;

    &__image-element {
      position: relative;

      &__delete {
        position: absolute;
        top: 0;
        right: 8px;
      }
    }
  }
}

.searchpane {
  display: flex;
  flex-direction: column;

  .pane-contents {
    display: flex;
    flex-direction: column;
  }
}
.searchpane .tab-contents {
  flex: 1;
  display: flex;
  flex-direction: column;

  .search-query-input {
    flex: 1;
    overflow: auto;
  }

  .search-action > button {
    height: 40px;
    width: 100%;
  }
}

#modal-root {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &.hidden {
    display: none;
  }

  &__film {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 997;
    background: rgba(0, 0, 0, 0.4);
  }

  &__contents {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 998;

    & > * {
      margin: auto;
      background: #333333;
      box-shadow: 0px 0px 15px #111111;
    }
  }
}

.modal {
  &__confirm {
    width: 600px;
    height: 160px;
    background: red;
    padding: 24px 16px 16px;
    display: flex;
    flex-direction: column;

    & &__message {
      font-size: 20px;
      flex: 1;
    }

    & &__buttons {
      display: flex;
      justify-content: flex-end;

      button {
        width: 80px;
        height: 32px;
        margin-inline-start: 16px;
      }
    }
  }
}

#file-drop-receiver {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(24, 24, 24, 0.6);
  display: none;
  align-items: center;
  z-index: 999;

  &.show {
    display: flex;
  }

  .message {
    font-size: 36px;
    text-align: center;
    color: #dedede;
    flex: 1;
    pointer-events: none;
  }
}
